[tool.ruff]
line-length = 99

[tool.ruff.format]
docstring-code-format = true
indent-style = "space"
line-ending = "lf"
quote-style = "double"

[tool.isort]
profile = "black"

# A debug statement is breaking. Temporarily disabling until that can be fixed
[tool.pytest.ini_options]
norecursedirs = ["beancount_reds_importers/importers/mercurycards"]
filterwarnings = [
  # silence warning in ofxparse
  "ignore:Call to deprecated method findAll:DeprecationWarning",
]
